<section class="login">
    <div class="titulo">Iniciar Sesión</div>
        <form>
            <input type="text" required="" ng-model="form.user"  title="Usuario required" placeholder="Usuario" data-icon="U">
            <input type="password" required="" ng-model="form.password" title="Contraseña required" placeholder="Contraseña" data-icon="x">            
            <button ng-click="form.submitTheForm()"  class="enviar">Enviar</button>
        </form>
    
</section>
<h3>Iniciar Sesión</h3>
<a href="/SCA_Global/">Ir a login</a>

