@charset "utf-8";
div#tabla{ margin:20px auto 0 auto; width:300px;}
div#tabla div#fila{ clear:both; min-height:24px; overflow:hidden; margin-bottom:5px;}
div#tabla div#label, div#tabla div#caja{ float:left; font-size:1.2em; overflow:hidden;}
div#tabla div#caja{color:#666;  }
div#tabla div#label{ width:120px}
