#aruba 
{
 padding-left:40px;
 padding-top:80px;
 padding-bottom:700px;
 background-color:#FFFFFF; 
 color:#006699	; 
 font-weight:bold;
 font-family:"Trebuchet MS";
 font-size:14px;
 font-style:italic;
 left:3px; 
 top:3px; 
 position:fixed;
}